<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/static.css') }}">
    <title>My Website</title>
</head>
<body>
    <section class="view">
        <div class="bannar">歡迎光臨，請輸入信箱密碼</div>
        <div class="system-text">登入系統</div>
        <form id="login-form" action="/login" method="post">
            <!--mail-->
            <div class="field">
                <span class="field-name">信箱</span>
                <input type="text" name="email">
            </div>

            <!--password-->
            <div class="field">
                <span class="field-name">密碼</span>
                <input type="password" name="password">
            </div>

            <!--checkbox-->
            <div class="field">
                <span class="field-name">同意條款</span>
                <input type="checkbox" name="confirm-policy">
            </div>

            <!--button-->
            <div class="field">
                <button name="btn">登入</button>
                <div class="error" id="login-error">登入錯誤</div>
            </div>
        </form>
        
    </section>
    <section class="view">
         <div class="system-text">取得旅館資訊</div>
        <!--serial number for hotel-->
        <div class="field">
            <span class="field-name">編號</span>
            <input type="text" id="hotel-search-id">
        </div>
        <div class="field">
            <button id="search-btn">取得</button>
        </div>
    </section>

    <script src="/static/script.js"></script>
</body>
</html>