<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <title>My Website</title>
</head>
<body>
    <section class="view">
        <div class="bannar">歡迎光臨，請註冊登入系統</div>
        <div class="system-text">註冊帳號</div>
        <form id="login-form" action="/signup" method="post">
            
            <!--name-->
            <div class="field">
                <span class="field-name">姓名</span>
                <input type="text" name="user-name">
            </div>

            <!--mail-->
            <div class="field">
                <span class="field-name">信箱</span>
                <input type="text" name="email">
            </div>

            <!--password-->
            <div class="field">
                <span class="field-name">密碼</span>
                <input type="password" name="password">
            </div>

            <!--button-->
            <div class="field">
                <button name="btn">註冊</button>
            </div>
        </form>
        
    </section>
    <section class="view">
         <div class="system-text">登入系統</div>
        <!--serial number for hotel-->
        <form id="login-form" action="/login" method="post">
            
            <!--mail-->
            <div class="field">
                <span class="field-name">信箱</span>
                <input type="text" name="email">
            </div>

            <!--password-->
            <div class="field">
                <span class="field-name">密碼</span>
                <input type="password" name="password">
            </div>

            <!--button-->
            <div class="field">
                <button name="btn">登入</button>
            </div>
        </form>
    </section>

    <script src="/static/script.js"></script>
</body>
</html>