<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="view">
        <div class="bannar">歡迎光臨，這裡是會員頁</div>
        <div class="system-text">{{ userName }}，歡迎登入系統</div>
        <div class="system-text"><a href="/logout">登出系統</a></div>
    </section>
    <section class="view">
        <div class="system-text-bold">快來留言吧</div>
        <form id="message-form" action="/api/message" method="post">
            <div class="field">
                <span class="field-name" name = "content">內容</span>
                <input type="text" id="input-content">
            </div>
            <div class="field">
                <button id="send-content-btn">送出</button>
            </div>
        </form>
        
    </section>
    <section class="view">
        <!--動態新增留言-->
        <div class="message">
            <span class="message-name">{{ messageUser }}:</span>{{ messageContent }}
        </div>
    </section>
</body>
</html>